In [ ]:
import numpy as np
import pandas as pd

In [ ]:
train=pd.read_csv('/content/train.csv')
test=pd.read_csv('/content/test.csv')
sample=pd.read_csv('/content/sample.csv')

In [ ]:
sample.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30000 entries, 0 to 29999
Data columns (total 2 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 30000 non-null  int64
 1   churn_probability  30000 non-null  int64
dtypes: int64(2)
memory usage: 468.9 KB

In [7]:
sample.describe()

                 id  churn_probability
count  30000.000000            30000.0
mean   84998.500000                0.0
std     8660.398374                0.0
min    69999.000000                0.0
25%    77498.750000                0.0
50%    84998.500000                0.0
75%    92498.250000                0.0
max    99998.000000                0.0

In [ ]:
train['churn_probability'].describe()

count    69999.000000
mean         0.101887
std          0.302502
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max          1.000000
Name: churn_probability, dtype: float64

In [ ]:

from xgboost import XGBClassifier

x=train.drop(['id','churn_probability','last_date_of_month_6','last_date_of_month_7','last_date_of_month_8',
              'date_of_last_rech_6','date_of_last_rech_7','date_of_last_rech_8','date_of_last_rech_data_6',
              'date_of_last_rech_data_7','date_of_last_rech_data_8'],axis=1)

mx=test.drop(['id','last_date_of_month_6','last_date_of_month_7','last_date_of_month_8',
              'date_of_last_rech_6','date_of_last_rech_7','date_of_last_rech_8','date_of_last_rech_data_6',
              'date_of_last_rech_data_7','date_of_last_rech_data_8'],axis=1)

y=train['churn_probability']

xgc=XGBClassifier()
xgc.fit(x,y)
pre=xgc.predict(mx)

In [ ]:
sa=sample['churn_probability']

In [ ]:
from sklearn.metrics import accuracy_score
accuracy_score(sa,pre)

0.9137333333333333