In [ ]:
import numpy as np
import pandas as pd

In [ ]:
train = pd.read_csv('/content/train.csv')
test = pd.read_csv('/content/test.csv')
sample = pd.read_csv('/content/sample_submission.csv')

In [ ]:
train.tail()

      id  gravity    ph  osmo  cond  urea  calc  target
409  409    1.011  5.21   527  21.4    75  1.53       0
410  410    1.024  5.53   577  19.7   224  0.77       0
411  411    1.018  6.28   455  22.2   270  7.68       1
412  412    1.008  7.12   325  12.6    75  1.03       1
413  413    1.011  6.13   364   9.9   159  0.27       0

In [ ]:
sample.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 276 entries, 0 to 275
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      276 non-null    int64
 1   target  276 non-null    float64
dtypes: float64(1), int64(1)
memory usage: 4.4 KB

In [ ]:
from xgboost import XGBRegressor

x=train.drop(['id','target'],axis=1)
y=train['target']

mx=test.drop(['id'],axis=1)

xgr=XGBRegressor()
xgr.fit(x,y)
pre=xgr.predict(mx)

In [ ]:
from lightgbm import LGBMRegressor

x=train.drop(['id','target'],axis=1)
y=train['target']

mx=test.drop(['id'],axis=1)

lgr=LGBMRegressor()
lgr.fit(x,y)
pre1=lgr.predict(mx)

In [ ]:
from sklearn.ensemble import RandomForestRegressor

x=train.drop(['id','target'],axis=1)
y=train['target']

mx=test.drop(['id'],axis=1)

rfr=RandomForestRegressor()
rfr.fit(x,y)
pre2=rfr.predict(mx)

In [ ]:
from sklearn.ensemble import RandomForestClassifier

x=train.drop(['id','target'],axis=1)
y=train['target']

mx=test.drop(['id'],axis=1)

rfc=RandomForestClassifier()
rfc.fit(x,y)
pre3=rfc.predict(mx)

In [ ]:
from sklearn.metrics import mean_squared_error,mean_absolute_error,mean_absolute_percentage_error

val=sample['target']

print('XGBOOST')
print('mean absolute',mean_absolute_error(val,pre))
print('mean squared',mean_squared_error(val,pre))
print('mean absolute percentage error',mean_absolute_percentage_error(val,pre))
print('rmse',np.sqrt(mean_squared_error(val,pre)))

print('LGBM')
print('mean absolute',mean_absolute_error(val,pre1))
print('mean squared',mean_squared_error(val,pre1))
print('mean absolute percentage error',mean_absolute_percentage_error(val,pre1))
print('rmse',np.sqrt(mean_squared_error(val,pre1)))

print('RF REGRESSOR')

print('mean absolute',mean_absolute_error(val,pre2))
print('mean squared',mean_squared_error(val,pre2))
print('mean absolute percentage error',mean_absolute_error(val,pre2))
print('rmse',np.sqrt(mean_squared_error(val,pre2)))

print('RF CLASIFIER')
print('mean absolute',mean_absolute_error(val,pre3))
print('mean squared',mean_squared_error(val,pre3))
print('mean absolute percentage error',mean_absolute_percentage_error(val,pre3))
print('rmse',np.sqrt(mean_squared_error(val,pre3)))

XGBOOST
mean absolute 0.32916511992411013
mean squared 0.14280476002809261
mean absolute percentage error 0.6583302398482203
rmse 0.37789517068638573
LGBM
mean absolute 0.3009635570288349
mean squared 0.1216990735753649
mean absolute percentage error 0.6019271140576699
rmse 0.34885394304115996
RF REGRESSOR
mean absolute 0.26380434782608697
mean squared 0.09506702898550724
mean absolute percentage error 0.5276086956521739
rmse 0.3083294163480145
RF CLASIFIER
mean absolute 0.5
mean squared 0.25
mean absolute percentage error 1.0
rmse 0.5