In [ ]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import LabelEncoder

In [ ]:
train=pd.read_csv('/content/train.csv')
test=pd.read_csv('/content/test.csv')

In [ ]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000888 entries, 0 to 3000887
Data columns (total 6 columns):
 #   Column       Dtype
---  ------       -----
 0   id           int64
 1   date         object
 2   store_nbr    int64
 3   family       object
 4   sales        float64
 5   onpromotion  int64
dtypes: float64(1), int64(3), object(2)
memory usage: 137.4+ MB

In [ ]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28512 entries, 0 to 28511
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           28512 non-null  int64
 1   date         28512 non-null  datetime64[ns]
 2   store_nbr    28512 non-null  int64
 3   family       28512 non-null  object
 4   onpromotion  28512 non-null  int64
dtypes: datetime64[ns](1), int64(3), object(1)
memory usage: 1.1+ MB

In [ ]:
a=pd.DataFrame()
b=pd.DataFrame()
a['data']=train['date']
b['data']=test['date']
c=pd.to_datetime(a['data'],infer_datetime_format=True,format='%Y%m%d')
d=pd.to_datetime(b['data'],infer_datetime_format=True,format='%Y%m%d')

In [ ]:
a.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000888 entries, 0 to 3000887
Data columns (total 1 columns):
 #   Column  Dtype
---  ------  -----
 0   data    object
dtypes: object(1)
memory usage: 22.9+ MB

In [ ]:
c.tail(-9)

9         2013-01-01
10        2013-01-01
11        2013-01-01
12        2013-01-01
13        2013-01-01
             ...
3000883   2017-08-15
3000884   2017-08-15
3000885   2017-08-15
3000886   2017-08-15
3000887   2017-08-15
Name: data, Length: 3000879, dtype: datetime64[ns]

In [ ]:
train['date']=c
test['date']=d

In [ ]:
lab=LabelEncoder()

train['day_num'] = lab.fit_transform(train.date)
train['day'] = train['date'].dt.day
train['month'] = train['date'].dt.month
train['year'] = train['date'].dt.year

test['day_num'] = lab.fit_transform(test.date)
test['day'] = test['date'].dt.day
test['month'] = test['date'].dt.month
test['year'] = test['date'].dt.year

In [ ]:
train.tail()

,id,date,store_nbr,family,sales,onpromotion,day_num,day,month,year
3000883,3000883,2017-08-15,9,28,438.133,0,1683,15,8,2017
3000884,3000884,2017-08-15,9,29,154.553,1,1683,15,8,2017
3000885,3000885,2017-08-15,9,30,2419.729,148,1683,15,8,2017
3000886,3000886,2017-08-15,9,31,121.000,8,1683,15,8,2017
3000887,3000887,2017-08-15,9,32,16.000,0,1683,15,8,2017

In [ ]:
test.tail()

,id,date,store_nbr,family,onpromotion,day_num,day,month,year
28507,3029395,2017-08-31,9,28,1,15,31,8,2017
28508,3029396,2017-08-31,9,29,0,15,31,8,2017
28509,3029397,2017-08-31,9,30,1,15,31,8,2017
28510,3029398,2017-08-31,9,31,9,15,31,8,2017
28511,3029399,2017-08-31,9,32,0,15,31,8,2017