In [ ]:
import numpy as np 
import pandas as pd

In [ ]:
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.cluster import KMeans,DBSCAN,SpectralClustering
from sklearn.decomposition import LatentDirichletAllocation as LDA
from sklearn.model_selection import train_test_split

In [ ]:
train=pd.read_csv("/content/drive/MyDrive/livro/goodreads_train.csv")
test=pd.read_csv("/content/drive/MyDrive/livro/goodreads_test.csv")
sample=pd.read_csv("/content/drive/MyDrive/livro/goodreads_sample_submission.csv")

In [ ]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 900000 entries, 0 to 899999
Data columns (total 11 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   user_id       900000 non-null  object
 1   book_id       900000 non-null  int64
 2   review_id     900000 non-null  object
 3   rating        900000 non-null  int64
 4   review_text   900000 non-null  object
 5   date_added    900000 non-null  object
 6   date_updated  900000 non-null  object
 7   read_at       808234 non-null  object
 8   started_at    625703 non-null  object
 9   n_votes       900000 non-null  int64
 10  n_comments    900000 non-null  int64
dtypes: int64(4), object(7)
memory usage: 75.5+ MB

In [ ]:
lista=['review_text','n_votes','n_comments']

x=train[lista]
y=train["rating"]

xtrain,xval,ytr,yval=train_test_split(x,y,train_size=0.4)
train1=xtrain

xts= test[lista]
xtr=train1
xtr=pd.DataFrame(xtr)
xts=pd.DataFrame(xts)

In [ ]:
xtr.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 360000 entries, 580680 to 730905
Data columns (total 3 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   review_text  360000 non-null  object
 1   n_votes      360000 non-null  int64
 2   n_comments   360000 non-null  int64
dtypes: int64(2), object(1)
memory usage: 11.0+ MB

In [ ]:
bag_tranf=CountVectorizer(min_df=2,stop_words="english",ngram_range=(1,1))
mx=bag_tranf.fit_transform(xts["review_text"])

In [ ]:
print(xtr)

                                              review_text
131339  books 2, 3 & 4 available nypl but NOT THIS ONE...
133606  I've had this book since the day it released a...
546888  Book 3 in the series. This one is about Mia, t...
103452  I was gonna give this book 3 stars, until I re...
593898  CAUTION MAY CONTAIN COMPLETE RAMBLING! \n OMG!...
...                                                   ...
497900  I was skeptical to read this and only did so a...
215606  A cute steampunk mashup of Shakespeare and Osc...
552220  The second book in the Body Finder series. Aga...
822221  When I was sent the synopsis for this book, th...
686401  An extremely fast read, it really only took 4 ...

[360000 rows x 1 columns]

In [ ]:
lda=LDA(random_state=0)
lda.fit(mx)

LatentDirichletAllocation(random_state=0)

In [ ]:
docs=xtr["review_text"][ : ]
data=[ ]
for doc in docs:
    data.append(lda.transform(bag_tranf.transform([doc])))

cols=['topic'+str(i) for i in range(1,11)]

#linhas da tabela e quandas colunas o clusters sao 
xtr1=pd.DataFrame(columns=cols,data=np.array(data).reshape((360000,10)))

In [ ]:
docs=xts["review_text"][ : ]
data=[ ]
for doc in docs:
    data.append(lda.transform(bag_tranf.transform([doc])))

cols=['topic'+str(i) for i in range(1,11)]

xts1=pd.DataFrame(columns=cols,data=np.array(data).reshape((478033,10)))

In [ ]:
xtr1.tail(-9)

,topic1,topic2,topic3,topic4,topic5,topic6,topic7,topic8,topic9,topic10
9,0.003572,0.003573,0.152835,0.318463,0.503695,0.003572,0.003573,0.003572,0.003572,0.003573
10,0.033346,0.699929,0.033339,0.033340,0.033338,0.033338,0.033346,0.033345,0.033337,0.033342
11,0.002858,0.249340,0.002858,0.002858,0.002858,0.002858,0.169445,0.561210,0.002858,0.002858
12,0.020005,0.020002,0.020002,0.819977,0.020001,0.020004,0.020003,0.020003,0.020001,0.020002
13,0.660002,0.002273,0.002273,0.321810,0.002273,0.002274,0.002274,0.002273,0.002274,0.002274
...,...,...,...,...,...,...,...,...,...,...
359995,0.050960,0.330556,0.001667,0.343420,0.001667,0.001667,0.265062,0.001667,0.001667,0.001667
359996,0.002174,0.002174,0.002174,0.235559,0.002175,0.002174,0.264465,0.484755,0.002174,0.002175
359997,0.016669,0.016670,0.016671,0.601816,0.016668,0.264829,0.016671,0.016668,0.016668,0.016671
359998,0.006252,0.006251,0.006253,0.006251,0.006251,0.006251,0.006252,0.693566,0.256422,0.006251
359999,0.007694,0.416189,0.007695,0.007694,0.007694,0.130762,0.399190,0.007693,0.007694,0.007695

In [ ]:
cluster = KMeans(random_state=0)
cluster.fit(mx)
cluster.predict(mx)

array([4, 4, 7, ..., 4, 7, 6], dtype=int32)

In [ ]:
docs=xts["review_text"][ : ]
data=[ ]
for doc in docs:
    data.append(cluster.transform(bag_tranf.transform([doc])))

cols=['topic'+str(i) for i in range(1,9)]

xts1=pd.DataFrame(columns=cols,data=np.array(data).reshape((478033,8)))

In [ ]:
docs=xtr["review_text"][ : ]
data=[ ]
for doc in docs:
    data.append(cluster.transform(bag_tranf.transform([doc])))

cols=['topic'+str(i) for i in range(1,9)]

xtr1=pd.DataFrame(columns=cols,data=np.array(data).reshape((360000,8)))